<div class="container">
  <% if current_user %>
      <% if current_admin %>
        <%= link_to "Back to Admin panel", admin_users_path %> | 
    <% end %>
  <% end %> 
  <%= link_to "Back to all movies", movies_path %>

  <h2>Submit a movie!</h2>
  <%= render 'form' %>
</div>