<div>
  List of all users:
  <table class="table">
      <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Email</td>
      </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.firstname %></td>
        <td><%= user.email %></td>
      </tr>
  <% end %>
   </table>
</div>